<div class="page" id="about">
    <div class="container">
        <h1>About me</h1>
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="aboutme">
                    My name is Erik Lundström, and im 28 years old. I am a student, developer and foodie that is currently attending <b>industrial engineering
                    and management at the Faculty of Engineering, Lund University</b>.<br><br> I like to develop websites, watch movies, hang out with friends, cook & eat food, travel to new locations and to ski among many things.      
                    <br><br>This is my portfolio, where you can find information about my developer skills. For other information I refer to my CV & my Linked In.
                </div>
            </div>
        </div>
    </div>
</div>