<div class="page" id="about">
    <div class="container">
        <h1>About me</h1>
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="aboutme">
                    My name is Erik Lundström, and I am 29 years old. I am a student, developer, and a foodie.<br><br> I am
                    currently attending industrial engineering and management at the Faculty of Engineering, Lund University.
                    <br><br>
                    I like to develop websites, watch movies, hang out with friends, cook & eat food, travel to new
                    locations, and going skiing among many things.
                </div>
            </div>
        </div>
    </div>
</div>