<div class="page" id="about">
    <div class="container">
        <h1>About me</h1>
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="aboutme">
                    My name is Erik Lundström, I am a student, developer and foodie that studies industrial engineering
                    and management in Lund, at Lunds Tekniska Högskola (LTH). I am currently 28 years old.<br>
                    I like to develop websites, watch movies, hang out with friends, cook & eat food, travel and to ski among many things.<br>
                    
                    Im also currently looking for a master thesis project, to complete my education.
                </div>
            </div>
            <div class="column is-10 is-offset-1">
                <app-timeline class="fullwidth"></app-timeline>
            </div>
        </div>
    </div>
</div>