@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
/* CSS-VARIABLES */
:root {
  --bg: rgb(230, 230, 230);
  --text: rgb(30, 30, 30);
  --main: rgba(209, 61, 61, 0.9);
}
/* RESET & GENERAL */
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(230, 230, 230);
  background-color: var(--bg);
  color: rgb(30, 30, 30);
  color: var(--text);
  transition: 0.5s;
}
.page {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
  max-width: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 960px;
  width: 960px;
  align-self: center;
}
.columns {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.columns .column {
  display: flex;
  flex: auto;
}
.columns .column.is-1 {
  width: 8.3333333333%;
  flex: none;
}
@media screen and (max-width: 767px) {
  .columns .column.is-1 {
    width: 95%;
    margin: auto;
  }
}
.columns .column.is-narrow {
  flex: none;
}
.columns .column.is-offset-1 {
  margin-left: 8.3333333333%;
}
@media screen and (max-width: 767px) {
  .columns .column.is-offset-1 {
    margin-left: 0;
  }
}
.columns .column.is-2 {
  width: 16.6666666667%;
  flex: none;
}
@media screen and (max-width: 767px) {
  .columns .column.is-2 {
    width: 95%;
    margin: auto;
  }
}
.columns .column.is-narrow {
  flex: none;
}
.columns .column.is-offset-2 {
  margin-left: 16.6666666667%;
}
@media screen and (max-width: 767px) {
  .columns .column.is-offset-2 {
    margin-left: 0;
  }
}
.columns .column.is-3 {
  width: 25%;
  flex: none;
}
@media screen and (max-width: 767px) {
  .columns .column.is-3 {
    width: 95%;
    margin: auto;
  }
}
.columns .column.is-narrow {
  flex: none;
}
.columns .column.is-offset-3 {
  margin-left: 25%;
}
@media screen and (max-width: 767px) {
  .columns .column.is-offset-3 {
    margin-left: 0;
  }
}
.columns .column.is-4 {
  width: 33.3333333333%;
  flex: none;
}
@media screen and (max-width: 767px) {
  .columns .column.is-4 {
    width: 95%;
    margin: auto;
  }
}
.columns .column.is-narrow {
  flex: none;
}
.columns .column.is-offset-4 {
  margin-left: 33.3333333333%;
}
@media screen and (max-width: 767px) {
  .columns .column.is-offset-4 {
    margin-left: 0;
  }
}
.columns .column.is-5 {
  width: 41.6666666667%;
  flex: none;
}
@media screen and (max-width: 767px) {
  .columns .column.is-5 {
    width: 95%;
    margin: auto;
  }
}
.columns .column.is-narrow {
  flex: none;
}
.columns .column.is-offset-5 {
  margin-left: 41.6666666667%;
}
@media screen and (max-width: 767px) {
  .columns .column.is-offset-5 {
    margin-left: 0;
  }
}
.columns .column.is-6 {
  width: 50%;
  flex: none;
}
@media screen and (max-width: 767px) {
  .columns .column.is-6 {
    width: 95%;
    margin: auto;
  }
}
.columns .column.is-narrow {
  flex: none;
}
.columns .column.is-offset-6 {
  margin-left: 50%;
}
@media screen and (max-width: 767px) {
  .columns .column.is-offset-6 {
    margin-left: 0;
  }
}
.columns .column.is-7 {
  width: 58.3333333333%;
  flex: none;
}
@media screen and (max-width: 767px) {
  .columns .column.is-7 {
    width: 95%;
    margin: auto;
  }
}
.columns .column.is-narrow {
  flex: none;
}
.columns .column.is-offset-7 {
  margin-left: 58.3333333333%;
}
@media screen and (max-width: 767px) {
  .columns .column.is-offset-7 {
    margin-left: 0;
  }
}
.columns .column.is-8 {
  width: 66.6666666667%;
  flex: none;
}
@media screen and (max-width: 767px) {
  .columns .column.is-8 {
    width: 95%;
    margin: auto;
  }
}
.columns .column.is-narrow {
  flex: none;
}
.columns .column.is-offset-8 {
  margin-left: 66.6666666667%;
}
@media screen and (max-width: 767px) {
  .columns .column.is-offset-8 {
    margin-left: 0;
  }
}
.columns .column.is-9 {
  width: 75%;
  flex: none;
}
@media screen and (max-width: 767px) {
  .columns .column.is-9 {
    width: 95%;
    margin: auto;
  }
}
.columns .column.is-narrow {
  flex: none;
}
.columns .column.is-offset-9 {
  margin-left: 75%;
}
@media screen and (max-width: 767px) {
  .columns .column.is-offset-9 {
    margin-left: 0;
  }
}
.columns .column.is-10 {
  width: 83.3333333333%;
  flex: none;
}
@media screen and (max-width: 767px) {
  .columns .column.is-10 {
    width: 95%;
    margin: auto;
  }
}
.columns .column.is-narrow {
  flex: none;
}
.columns .column.is-offset-10 {
  margin-left: 83.3333333333%;
}
@media screen and (max-width: 767px) {
  .columns .column.is-offset-10 {
    margin-left: 0;
  }
}
.columns .column.is-11 {
  width: 91.6666666667%;
  flex: none;
}
@media screen and (max-width: 767px) {
  .columns .column.is-11 {
    width: 95%;
    margin: auto;
  }
}
.columns .column.is-narrow {
  flex: none;
}
.columns .column.is-offset-11 {
  margin-left: 91.6666666667%;
}
@media screen and (max-width: 767px) {
  .columns .column.is-offset-11 {
    margin-left: 0;
  }
}
.columns .column.is-12 {
  width: 100%;
  flex: none;
}
@media screen and (max-width: 767px) {
  .columns .column.is-12 {
    width: 95%;
    margin: auto;
  }
}
.columns .column.is-narrow {
  flex: none;
}
.columns .column.is-offset-12 {
  margin-left: 100%;
}
@media screen and (max-width: 767px) {
  .columns .column.is-offset-12 {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .columns {
    flex-direction: column;
  }
}
.navbarFixed {
  position: fixed;
  top: 0;
  z-index: 1;
}
:hover > .tooltip {
  display: flex;
}
.tooltip {
  padding: 0.25rem;
  background-color: rgb(30, 30, 30);
  background-color: var(--text);
  color: rgb(230, 230, 230);
  color: var(--bg);
  border-radius: 0.2rem;
  justify-content: center;
  font-size: 1rem;
  display: flex;
  flex: 1;
  transition: 0.5s;
}
/* TEXT-STYLING */
* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
p {
  font-weight: 400;
  margin: 0.75rem;
  line-height: 1.4;
}
p.quote {
  font-size: 2rem;
}
p.quote:before {
  content: "“";
}
p.quote:after {
  content: "”";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0.75rem;
}
/* IMAGE-STYLING */
.image.is-rounded {
  border-radius: 50%;
  border: 0.25rem solid lightgray;
  background-color: lightgray;
  overflow: hidden;
  margin: 0.75rem;
}
.image.is-192x192 {
  width: 192px;
  height: 192px;
}
.image > img {
  width: 100%;
  height: 100%;
}
/* MENU-STYLING */
.menu {
  display: flex;
  flex-direction: column;
}
.menu .icon-link {
  transition: color 0.5s;
  position: relative;
  color: rgb(30, 30, 30);
  color: var(--text);
  font-size: 2.5rem;
  padding: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu .icon-link .icon {
  margin: 0.25rem;
}
.menu .icon-link:hover {
  cursor: pointer;
  color: rgb(30, 30, 30);
  color: var(--text);
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  padding: 0 calc(0.75rem/4*3);
}
.button {
  justify-content: center;
  padding: 0.35rem;
  font-size: 85%;
  margin: calc(0.75rem/4);
  border-radius: 0.25rem;
  background-color: rgb(30, 30, 30);
  background-color: var(--text);
  color: rgb(230, 230, 230);
  color: var(--bg);
  border: none;
  transition: 0.5s;
  border: 1px solid rgb(230, 230, 230);
  border: 1px solid var(--bg);
}
.button:hover {
  cursor: pointer;
  opacity: 0.85;
}
.fullwidth {
  width: 100%;
}
.border-left {
  border-left: 1px solid rgba(209, 61, 61, 0.9);
  border-left: 1px solid var(--main);
  transition: 0.25s ease-in-out transform, border-left 1s;
}
@media screen and (min-width: 768px) {
  .tooltip {
    display: none;
  }

  .menu {
    flex-direction: row;
  }
  .menu .icon-link .tooltip {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
  }
}
