<div class="navbar">
    <div class="content">
        <a class="navbar-item" (click)="scroll('splash')">Mr Lundstrom</a>
        <div class="navbar-items" [ngClass]="{'is-active': showMenu}">
            <a class="navbar-item" (click)="menuClick('about')">About</a>
            <a class="navbar-item" (click)="menuClick('skills')">Experience</a>
            <a class="navbar-item" (click)="menuClick('projects')">Projects</a>
            <a class="navbar-item" (click)="menuClick('repositories')">Repos</a>
            <a class="navbar-item" (click)="toggleMode()">
                <fa-icon *ngIf="day" icon="sun" [fixedWidth]="true"></fa-icon>
                <fa-icon *ngIf="!day" icon="moon" [fixedWidth]="true"></fa-icon>
            </a>
        </div>
        <a class="navbar-toggle" [ngClass]="{'is-active': showMenu}" (click)="toggleMenu()">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </a>
    </div>
</div>