<div class="page splash" id="splash">
    <div class="splash-container">
        <div class="image is-192x192 is-rounded">
            <img alt="profilePicture" src="assets/profile.png">
        </div>
        <h1>Mr Lundstrom</h1>
        <h3>Student, developer & foodie</h3>
        <div class="menu">
            <a class="icon-link" target="_" href="https://github.com/MrLundstrom">
                <fa-icon [icon]="['fab', 'github']" class="icon" [fixedWidth]="true"></fa-icon>
                <div class="tooltip">
                    Github
                </div>
            </a>
            <a class="icon-link" target="_" href="assets/LundstromCV.pdf" download>
                <fa-icon icon="id-card" class="icon" [fixedWidth]="true"></fa-icon>
                <div class="tooltip">
                    CV
                </div>
            </a>
        </div>
    </div>
</div>