<div class="splash">
    <div class="splash-container">
        <div class="image is-128x128">
            <img class="is-rounded" alt="profilePicture" src="../../../assets/profilePic.jpg">
        </div>
        <h1>Erik Lundström</h1>
        <h3>Student, developer & foodie</h3>
        <div class="menu">
            <a class="icon-link" target="_" href="https://www.linkedin.com/in/mrLundstrom">
                <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
                <div class="tooltip">
                    LinkedIn
                </div>
            </a>
            <a class="icon-link" target="_" href="https://www.github.com/mrLundstrom">
                <fa-icon [icon]="['fab', 'github']"></fa-icon>
                <div class="tooltip">
                    Github
                </div>
            </a>
        </div>
    </div>
</div>