<div class="page splash">
    <div class="splash-container">
        <div class="image is-192x192 is-rounded">
            <img alt="profilePicture" src="assets/profilePic.jpg">
        </div>
        <h1>Mr Lundstrom</h1>
        <h3>Student, developer & foodie</h3>
        <div class="menu">
            <a class="icon-link">
                <fa-icon [icon]="['fab', 'linkedin']" [fixedWidth]="true"></fa-icon>
                <div class="tooltip">
                    LinkedIn
                </div>
            </a>
            <a class="icon-link">
                <fa-icon [icon]="['fab', 'github']" [fixedWidth]="true"></fa-icon>
                <div class="tooltip">
                    Github
                </div>
            </a>
            <a class="icon-link">
                <fa-icon [icon]="['fab', 'behance']" [fixedWidth]="true"></fa-icon>
                <div class="tooltip">
                    Behance
                </div>
            </a>
        </div>
    </div>
</div>