<div class="page" id="projects">
    <div class="container">
        <h1>Projects</h1>
        <div class="columns">
            <div class="column is-6">
                <div class="project-card simul">
                    <div class="card-content">
                        <h2>Simul/Side! -
                            <fa-icon class="icon" [icon]="['fab', 'angular']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'html5']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'sass']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" icon="fire" [fixedWidth]="true"></fa-icon>
                        </h2>
                        <div class="buttons">
                            <a class="button" target="_" href="https://collaborate-63183.web.app/">Live demo
                            </a>
                        </div>
                        <p>
                            A platform that enables its users to create, find and join projects. It supports
                            authentication with your Google account and with your email & password. It is hosted with
                            firebase hosting. If you would like to try it, there is a dummy account to see what its all
                            about:
                            <br><b>email</b>: dummy@simulapp.com
                            <br><b>password</b>: 123456
                        </p>
                    </div>
                </div>
            </div>
            <div class="column is-6">
                <div class="project-card dotClock">
                    <div class="card-content">
                        <h2>DotClock -
                            <fa-icon class="icon" [icon]="['fab', 'js']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'html5']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'css3-alt']" [fixedWidth]="true"></fa-icon>
                        </h2>
                        <div class="buttons">
                            <a class="button" target="_"
                                href="https://steamcommunity.com/sharedfiles/filedetails/?id=897347504">Steam Workshop
                                page
                            </a>
                            <a class="button" target="_" href="https://github.com/MrLundstrom/dotClock">Github
                                repository
                            </a>

                        </div>
                        <p>An experimental wallpaper-website, showing time displayed with dots Is available for download
                            and usage in the Steam workshop, where it currently has over 2000 subscribers and a 88%
                            rating.</p>
                    </div>
                </div>
            </div>
            <div class="column is-6">
                <div class="project-card transforms">
                    <div class="card-content">
                        <h2>Transforms -
                            <fa-icon class="icon" [icon]="['fab', 'angular']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'html5']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'css3-alt']" [fixedWidth]="true"></fa-icon>
                        </h2>
                        <div class="buttons">
                            <a class="button" target="_" href="https://mrlundstrom.github.io/transforms">Live demo
                            </a>
                            <a class="button" target="_" href="https://github.com/MrLundstrom/transforms">Github
                                repository
                            </a>
                        </div>
                        <p>A small experiment with CSS-transforms to create a three-dimensional world
                            without other tools. Uses some javascript to change the perspective.
                        </p>
                    </div>
                </div>
            </div>
            <div class="column is-6">
                <div class="project-card spex">
                    <div class="card-content">
                        <h2>VG Spex -
                            <fa-icon class="icon" [icon]="['fab', 'react']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'html5']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'sass']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" icon="fire" [fixedWidth]="true"></fa-icon>
                        </h2>
                        <div class="buttons">
                            <a class="button" target="_" href="https://vg-spex.web.app">Live website
                            </a>
                        </div>
                        <p>A webapp to easily store & book food in Västgöta Nations inventory.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>