<div class="page" id="projects">
    <div class="container">
        <h1>Projects</h1>
        <div class="columns">
            <div class="column is-6">
                <div class="project-card simul">
                    <div class="card-content">
                        <h2>Simul -
                            <fa-icon class="icon" [icon]="['fab', 'angular']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'html5']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'sass']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" icon="fire" [fixedWidth]="true"></fa-icon>
                        </h2>
                        <div class="buttons">
                            <button class="button">Live demo</button>
                        </div>
                        <p>
                            A platform where students can create, find and join projects related to the start-up
                            community, their courses and the student life.
                        </p>
                    </div>
                </div>
            </div>
            <div class="column is-6">
                <div class="project-card spex">
                    <div class="card-content">
                        <h2>Spex -
                            <fa-icon class="icon" [icon]="['fab', 'react']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'html5']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'sass']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" icon="fire" [fixedWidth]="true"></fa-icon>
                        </h2>
                        <div class="buttons">
                            <button class="button" disabled>Live demo</button>
                            <button class="button" disabled>github repository</button>
                        </div>
                        <p>
                            A web-based inventory system for food at Västgöta Nation, where users can add, book, and
                            delete goods.
                        </p>
                    </div>
                </div>
            </div>
            <div class="column is-6">
                <div class="project-card archipelago">
                    <div class="card-content">
                        <h2>Archipelago -
                            <fa-icon class="icon" [icon]="['fab', 'sass']" [fixedWidth]="true"></fa-icon>
                        </h2>
                        <div class="buttons">
                            <button class="button" disabled>Live demo</button>
                            <button class="button" disabled>github repository</button>
                        </div>
                        <p>
                            SCSS framework made from scratch. Includes columns, cards, headers, colors, buttons, forms
                            etc.
                        </p>

                    </div>
                </div>
            </div>
            <div class="column is-6">
                <div class="project-card transforms">
                    <div class="card-content">
                        <h2>DotClock -
                            <fa-icon class="icon" [icon]="['fab', 'js']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'html5']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'css3-alt']" [fixedWidth]="true"></fa-icon>
                        </h2>
                        <div class="buttons">
                            <button class="button" disabled>Live demo</button>
                            <button class="button" disabled>github repository</button>
                            <button class="button" target="_"
                                href="https://steamcommunity.com/sharedfiles/filedetails/?id=897347504">Steam Workshop
                                page</button>

                        </div>
                        <p>Experiment with showing time in an old-school format on a webpage. Initially made as a
                            wallpaper for wallpaper-engine.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>