<div class="page" id="projects">
    <div class="container">
        <h1>Projects</h1>
        <div class="columns">
            <div class="column is-6">
                <div class="project-card simul">
                    <div class="card-content">
                        <h2>Simul/Side! -
                            <fa-icon class="icon" [icon]="['fab', 'angular']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'html5']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'sass']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" icon="fire" [fixedWidth]="true"></fa-icon>
                        </h2>
                        <a class="button" target="_"
                                href="https://collaborate-63183.web.app/">Live demo
                            </a>
                        <p>
                            A platform where students can create, find and join projects related to the start-up
                            community, their courses and the student life.
                        </p>
                    </div>
                </div>
            </div>
            <div class="column is-6">
                <div class="project-card dotClock">
                    <div class="card-content">
                        <h2>DotClock -
                            <fa-icon class="icon" [icon]="['fab', 'js']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'html5']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'css3-alt']" [fixedWidth]="true"></fa-icon>
                        </h2>
                        <div class="buttons">
                            <a class="button" target="_"
                                href="https://steamcommunity.com/sharedfiles/filedetails/?id=897347504">Steam Workshop
                                page
                            </a>
                            <a class="button" target="_" href="https://github.com/MrLundstrom/dotClock">Github
                                repository
                            </a>

                        </div>
                        <p>Experiment with showing time in an old-school format on a webpage. Initially made as a
                            wallpaper for wallpaper-engine. It currently has over 2000 subscribers and a 88% rating</p>
                    </div>
                </div>
            </div>
            <div class="column is-6">
                <div class="project-card portfolio">
                    <div class="card-content">
                        <h2>Portfolio - 
                            <fa-icon class="icon" [icon]="['fab', 'angular']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'html5']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'sass']" [fixedWidth]="true"></fa-icon>
                        </h2>
                        <div class="buttons">
                            <a class="button" target="_"
                                href="https://github.com/MrLundstrom/portfolio">Github repository
                            </a>
                        </div>
                        <p>My first atempt at a portfolio. Trying out different layouts, and displaying my knowledge.</p>
                    </div>
                </div>
            </div>
            <div class="column is-6">
                <div class="project-card spex">
                    <div class="card-content">
                        <h2>VG Spex - 
                            <fa-icon class="icon" [icon]="['fab', 'react']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'html5']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" [icon]="['fab', 'sass']" [fixedWidth]="true"></fa-icon>
                            <fa-icon class="icon" icon="fire" [fixedWidth]="true"></fa-icon>
                        </h2>
                        <div class="buttons">
                            <a class="button" target="_"
                                href="https://vg-spex.web.app">Live website
                            </a>
                        </div>
                        <p>A webapp to easily store & book food in Västgöta Nations inventory.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>