.skill-card{
    width:100%;
    padding:1.5rem;
    font-size:1.5rem;
    opacity:90%;
    >.icon{
        margin-right:0.75rem;
    }
    &.angular{
        background-color:red;   
        color:white;
    }
    &.html{
        background-color: black;
        color:white;
    }
    &.js{
        background-color: yellow;
        color:black;

    }
    &.sass{
        background-color: pink;
        color:black;
    }
    &.css{
        background-color: darkblue;
        color:white;
    }
    &.fire{
        background-color: lightblue;
        color:orangered;
    }
    &.git{
        background-color: white;
        color:darkred;
    }
    &.java{
        background-color: brown;
        color:white;
    }
}