<div class="page" id="skills">
    <div class="container">
        <h1>Skills</h1>
        <div class="columns">
            <div class="column is-6">
                <div class="skill-card html">
                    <fa-icon class="icon" [icon]="['fab', 'html5']" [fixedWidth]="true"></fa-icon>
                    HTML
                </div>
            </div>
            <div class="column is-6">
                <div class="skill-card css">
                    <fa-icon class="icon" [icon]="['fab', 'css3-alt']" [fixedWidth]="true"></fa-icon>
                    CSS
                </div>
            </div>
            <div class="column is-6">
                <div class="skill-card js">
                    <fa-icon class="icon" [icon]="['fab', 'js']" [fixedWidth]="true"></fa-icon>
                    Javascript
                </div>
            </div>
            <div class="column is-6">
                <div class="skill-card angular">
                    <fa-icon class="icon" [icon]="['fab', 'angular']" [fixedWidth]="true"></fa-icon>
                    Angular
                </div>
            </div>
            
            <div class="column is-6">
                <div class="skill-card sass">
                    <fa-icon class="icon" [icon]="['fab', 'sass']" [fixedWidth]="true"></fa-icon>
                    Sass
                </div>
            </div>
            <div class="column is-6">
                <div class="skill-card fire">
                    <fa-icon class="icon" icon="fire" [fixedWidth]="true"></fa-icon>
                    Firebase
                </div>
            </div>
            <div class="column is-6">
                <div class="skill-card git">
                    <fa-icon class="icon" [icon]="['fab', 'git-alt']" [fixedWidth]="true"></fa-icon>
                    git
                </div>
            </div>
            <div class="column is-6">
                <div class="skill-card java">
                    <fa-icon class="icon" [icon]="['fab', 'java']" [fixedWidth]="true"></fa-icon>
                    Java
                </div>
            </div>
            <div class="column is-6">
                <div class="skill-card npm">
                    <fa-icon class="icon" [icon]="['fab', 'npm']" [fixedWidth]="true"></fa-icon>
                    npm
                </div>
            </div>
            <div class="column is-6">
                <div class="skill-card react">
                    <fa-icon class="icon" [icon]="['fab', 'react']" [fixedWidth]="true"></fa-icon>
                    react
                </div>
            </div>
            <div class="column is-6">
                <div class="skill-card images">
                    <fa-icon class="icon" icon="images" [fixedWidth]="true"></fa-icon>
                    Ps & Gimp
                </div>
            </div>
            <div class="column is-6">
                <div class="skill-card databases">
                    <fa-icon class="icon" icon="database" [fixedWidth]="true"></fa-icon>
                    SQL & noSQL
                </div>
            </div>
            <div class="column is-12">
                <div class="skill-card unity">
                    <fa-icon class="icon" [icon]="['fab', 'unity']" [fixedWidth]="true"></fa-icon>
                    Unity
                </div>
            </div>
        </div>
    </div>
</div>