.skill-card{
    width:100%;
    padding:1.5rem;
    font-size:1.5rem;
    opacity:0.9;
    >.icon{
        margin-right:0.75rem;
    }
    &.angular{
        background-color:red;   
        color:white;
    }
    &.html{
        background-color: black;
        color:white;
    }
    &.js{
        background-color: yellow;
        color:black;

    }
    &.sass{
        background-color: pink;
        color:black;
    }
    &.css{
        background-color: darkblue;
        color:white;
    }
    &.fire{
        background-color: rgb(182, 225, 240);
        color:rgb(241, 67, 3);
    }
    &.git{
        background-color: white;
        color:darkred;
    }
    &.java{
        background-color: brown;
        color:white;
    }
    &.npm{
        background-color: #cb3837;
        color:white;
    }
    &.react{
        background-color: #61dafb;
        color:black;
    }
    &.images{
        background-color: #73fb61;
        color:black;
    }
    &.databases{
        background-color: #fb61bb;
        color:black;
    }
    &.unity{
        background-color: #dddddd;
        color:black;
    }
    &.threed{
        background-color: #e95b19;
        color:black;
    }
    
}